---
import type { GetStaticPaths } from "astro";
import Breadcrumbs from "~/components/Breadcrumbs.astro";
import Head1 from "~/components/Head1.astro";
import PackageCard from "~/components/PackageCard.astro";
import Layout from "~/layouts/CenterLayout.astro";
import type { VPMPackage } from "~/utils/vpm";
import { type VPMRepository, findLatestReleasePackage, vccAddRepoLink, idToFileName } from "~/utils/vpm";

export const getStaticPaths = (async () => {
  const allRepos: VPMRepository[] = await Astro.glob("~/../vpm/repos/*.json");
  return allRepos.map(repo => ({
    params: {
      id: idToFileName(repo.id ?? repo.url)
    },
    props: {
        repo: repo
    }
  }));
}) satisfies GetStaticPaths;

const {repo}: {repo: VPMRepository} = Astro.props;

const packages = Object.values(repo.packages)
  .map(g => findLatestReleasePackage(Object.values(g.versions)))
  .filter((p): p is VPMPackage => p ? true : false)

packages.sort((a, b) => a.displayName.localeCompare(b.displayName));
---
<Layout title={repo.name}>
  <Breadcrumbs items={[
    {label: "Home", href: "/"},
    {label: "Repositories", href: "/repositories"},
    {label: repo.name},
  ]}/>
  <div class="flex md:flex-row flex-col">
    <div class="flex-grow md:pr-4">
      <Head1>{repo.name}</Head1>
      <div class="mb-4" />
      <div class="flex flex-col md:gap-4 gap-2">
        {packages.map(pkg => (
          <PackageCard pkg={pkg} />
        ))}
      </div>
    </div>
    <div class="divider md:divider-horizontal" />
    <div class="md:w-72 md:pl-4 flex-shrink-0">
      <h2 class="text-2xl font-bold mb-2">Repository ID</h2>
      <p class="mb-6">{repo.id || 'Undefined'}</p>
      <h2 class="text-2xl font-bold mb-2">Author</h2>
      <p class="mb-6">{repo.author}</p>
      <h2 class="text-2xl font-bold mb-2">Repository URL</h2>
      <p class="mb-6"><a class="link link-primary" target="_blank" href={repo.url}>{repo.url}</a></p>
      <div>
        <a href={vccAddRepoLink(repo.url)} class="btn btn-primary btn-wide">Add to VCC</a>
      </div>
    </div>
  </div>
</Layout>
