---
import type { GetStaticPaths } from "astro";
import Layout from "~/layouts/Layout.astro";
import type { VPMPackage } from "~/utils/vpm";
import { type VPMRepository, findLatestReleasePackage } from "~/utils/vpm";

export const getStaticPaths = (async () => {
  const allRepos: VPMRepository[] = await Astro.glob("~/../repos/*.json");
  return allRepos.map(repo => ({
    params: {
      id: repo.id
    },
    props: {
        repo: repo
    }
  }));
}) satisfies GetStaticPaths;

const {repo}: {repo: VPMRepository} = Astro.props;

const packages = Object.values(repo.packages)
  .map(findLatestReleasePackage)
  .filter((p): p is VPMPackage => p ? true : false)

packages.sort((a, b) => a.displayName.localeCompare(b.displayName));
---
<Layout title={repo.name}>
  <h1>{repo.name}</h1>
  <p>{repo.author}</p>
  <p>{repo.url}</p>
  <ul>
    {packages.map(pkg => (
      <li>
        <a href={`/packages/${pkg.name}`}>{pkg.displayName}</a>
        {pkg.version}
      </li>
    ))}
  </ul>
</Layout>
