---
import type { GetStaticPaths } from "astro";
import Breadcrumbs from "~/components/Breadcrumbs.astro";
import Head1 from "~/components/Head1.astro";
import PackageCard from "~/components/PackageCard.astro";
import Layout from "~/layouts/CenterLayout.astro";
import type { VPMPackage } from "~/utils/vpm";
import { type VPMRepository, findLatestReleasePackage } from "~/utils/vpm";

export const getStaticPaths = (async () => {
  const allRepos: VPMRepository[] = await Astro.glob("~/../repos/*.json");
  return allRepos.map(repo => ({
    params: {
      id: repo.id
    },
    props: {
        repo: repo
    }
  }));
}) satisfies GetStaticPaths;

const {repo}: {repo: VPMRepository} = Astro.props;

const packages = Object.values(repo.packages)
  .map(findLatestReleasePackage)
  .filter((p): p is VPMPackage => p ? true : false)

packages.sort((a, b) => a.displayName.localeCompare(b.displayName));
---
<Layout title={repo.name}>
  <Breadcrumbs items={[
    {label: "Home", href: "/"},
    {label: "Repositories", href: "/repositories"},
    {label: repo.name},
  ]}/>
  <Head1 text={repo.name} />
  <p>{repo.author}</p>
  <p>{repo.url}</p>
  <ul>
    {packages.map(pkg => (
      <div class="mb-2">
        <PackageCard pkg={pkg} />
      </div>
    ))}
  </ul>
</Layout>
