---
import type { Language } from "~/i18n/ui";
import { useTranslations } from "~/i18n/utils";

const current = new Date();
const currentTimestamp = current.getTime();

const currentLocale = Astro.currentLocale as Language;
const t = useTranslations(currentLocale);
const lastUpdateLabel = t('component.footer.last-update');
---
<footer class="footer footer-center absolute bottom-0 p-4 bg-base-300 text-base-content gap-y-4">
  <aside>
    <p>Copyright © 2024 - kurotu</p>
  </aside>
  <nav class="grid-flow-col gap-2 md:place-self-center md:justify-self-center">
    <a class="link link-hover" href="https://github.com/kurotu/vpm-catalog">GitHub</a>
    <span>-</span>
    <a class="link link-hover" href="https://x.com/kurotu">X</a>
  </nav>
  <p class="max-w-sm">
    {t('component.footer.disclaimer')}
  </p>
  <p class="text-center text-gray-500">
    <time id="updated_time" datetime={current.toISOString()}>{lastUpdateLabel}: {current.toISOString()}</span>
  </p>
</footer>

<script is:inline define:vars={{currentTimestamp, lastUpdateLabel}}>
window.addEventListener('load', () => {
  const updatedTime = document.getElementById('updated_time');
  const date = new Date(currentTimestamp);
  updatedTime.textContent = `${lastUpdateLabel}: ${date.toLocaleString()} ${Intl.DateTimeFormat().resolvedOptions().timeZone}`;
});
</script>
