---
import { getRelativeLocaleUrl } from 'astro:i18n';
import { languages, type Language } from '~/i18n/ui';
import { getRelativePath } from '~/i18n/utils';

interface Props {
  title: string;
}

const {title} = Astro.props;
const siteName = 'VPM Catalog';
const htmlTitle = title === siteName
  ? `${siteName} | Place to browse community packages for VCC`
  : `${title} | ${siteName}`;

const ogpImageUrl = new URL('/images/vpm-catalog-ogp.png', Astro.site || Astro.url.origin);
const currentLocale = Astro.currentLocale as Language;
const relativePath = getRelativePath(currentLocale, Astro.url.pathname);
---
<html lang={Astro.currentLocale} prefix="og: https://ogp.me/ns#">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:title" content={htmlTitle} />
    <meta property="og:description" content="Place to browse community packages for VCC. Discover favorite packages to improve your creation." />
    <meta property="og:image" content={ogpImageUrl} />
    <meta property="og:type" content="website">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    {
      Object.keys(languages).map(locale => (
        <link rel="alternate" href={Astro.url.origin + getRelativeLocaleUrl(locale, relativePath)} hreflang={locale} />
      ))
    }
    <title>{htmlTitle}</title>
	</head>
	<body>
		<div class="wrapper min-h-screen relative box-border">
			<slot />
			<div itemscope itemtype="https://schema.org/WebSite">
				<link itemprop="url" href={Astro.site || Astro.url.origin} />
				<meta itemprop="name" content={siteName} />
			</div>
		</div>
	</body>
</html>

<style is:global>
  * {
    overflow-wrap: anywhere;
  }

  .font-logo {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .wrapper {
    padding-bottom: 180px; /* Footer height */
  }
</style>
